@page "/"

<PageTitle>Ibas Support</PageTitle>

<div class="text-center mt-5">
    <h1 class="display-4">Velkommen til IBAS Support</h1>
    <p class="lead">Her kan du nemt oprette en henvendelse til vores supportteam eller se tidligere beskeder.</p>

    <div class="mt-4">
        <a href="/create-support" class="btn btn-primary btn-lg me-2">Opret ny henvendelse</a>
        <a href="/support-list" class="btn btn-outline-secondary btn-lg">Se henvendelser</a>
    </div>
</div>